/* GENERAL */


@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
}

body {
    height: auto;
    width: 100vw;
    font-family: "Faustina", serif;
    background-color: black;
    margin: 0rem;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85)
}

/* OVERLAY */

#projects {
    list-style: none;
    text-decoration: none;
    position: relative;
    height: auto;
    width: auto;
    margin: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.pictureinpictureboarder {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 49rem;
}

.overview {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.overviewtext {
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nav-projects-bar {   
    text-decoration: none; 
    position: relative;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: beige;
    margin-left: 2rem;
    width: auto;
    height: auto;
    padding: 0.5rem;
    width: auto;
    border-radius: 0.3rem;
    z-index: 1029;
}

.nav-years-text {
    margin-left: 1rem;
    margin-top: 0.35rem;
    cursor: pointer;
    flex: content;
    flex-direction: row;
}

.nav-projects-links
.nav-years-text {
    position: relative;
    overflow: hidden;
    transform: all 0.3 ease-in-out;
    cursor: pointer;
}

.nav-projects-links {
    font-size: 1.1rem;
    margin-left: 2rem;
    text-align: left;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
    width: auto;
    height: auto;    
    text-underline-offset: 0;
    text-decoration-color: rgb(185, 185, 185);
}

.nav-projects-links:hover {
    border: none;
    text-decoration: none;
}

.nav-projects-links li {
    list-style: none;
}

.titleabriv {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.section__abbreviations__pt {
    color: black;
    text-align: center;
    font-size: 2rem;
}

.abbreviations_container {
    font-size: 1.3rem;
    border: 0;
    margin: 0;
    gap: 0.2rem;
    justify-content: center;
}

.top_abbreviations_container {
    position: relative;
    height: auto;
    width: auto;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
}

.abbreviations_container,
.top_abbreviations_container {
    display: flex;
}

.nav-projects-bar-text {
    font-size: 2rem;
    font-weight: 500;
}

.collapsible {
    font-size: 1.5rem;
    font-weight: 300;
    transition: all 300ms ease;
    margin-left: 1rem;
    background: none;
    border: none;    
    cursor: pointer;
}


.picturesinpictures{
    border: 10rem;
}

/* OVERVIEW */


.overlaytric {
   border: none;
   display: flex;
   gap: 4vmin;
   position: absolute;
   left: 20%;
   top: 50%;
   transform: translate(0%, 0%); 
   user-select: none; /* -- Prevent image highlighting -- */
}
  
#image-track > .overlaytric {
    object-fit: cover;
    object-position: 100% center;
    border-bottom: 10rem;
}

.image {
    width: 90vmin;
    height: 106vmin;
}

.image {
    border-radius: 1rem;
}

.title {
    font-size: 2rem;
    color: white;
    justify-content: center;
}